:root {
  --wwwwikipediaorgalizarin-crimson: rgba(235, 49, 49, 1);
  --wwwwikipediaorgapple: rgba(59, 173, 73, 1);
  --wwwwikipediaorgbahama-blue: rgba(0, 100, 153, 1);
  --wwwwikipediaorgbay-of-many: rgba(41, 69, 132, 1);
  --wwwwikipediaorgbianca: rgba(253, 252, 248, 1);
  --wwwwikipediaorgblack: rgba(0, 0, 0, 1);
  --wwwwikipediaorgblack-russian: rgba(0, 2, 34, 1);
  --wwwwikipediaorgblue-zodiac: rgba(21, 48, 79, 1);
  --wwwwikipediaorgbuttercup: rgba(246, 182, 11, 1);
  --wwwwikipediaorgchambray: rgba(55, 84, 147, 1);
  --wwwwikipediaorgcod-gray: rgba(16, 15, 13, 1);
  --wwwwikipediaorgdanube: rgba(111, 160, 208, 1);
  --wwwwikipediaorgemperor: rgba(85, 85, 85, 1);
  --wwwwikipediaorggeyser: rgba(214, 221, 227, 1);
  --wwwwikipediaorggray-chateau: rgba(162, 169, 177, 1);
  --wwwwikipediaorghippie-blue: rgba(96, 138, 180, 1);
  --wwwwikipediaorgindigo: rgba(87, 120, 197, 1);
  --wwwwikipediaorgjanna: rgba(244, 238, 215, 1);
  --wwwwikipediaorgjelly-bean: rgba(35, 103, 152, 1);
  --wwwwikipediaorgmystic: rgba(224, 233, 234, 1);
  --wwwwikipediaorgputty: rgba(231, 199, 141, 1);
  --wwwwikipediaorgraffia: rgba(233, 221, 175, 1);
  --wwwwikipediaorgred-berry: rgba(153, 0, 0, 1);
  --wwwwikipediaorgregal-blue: rgba(0, 59, 111, 1);
  --wwwwikipediaorgrolling-stone: rgba(114, 119, 125, 1);
  --wwwwikipediaorgroyal-blue: rgba(51, 102, 221, 1);
  --wwwwikipediaorgsan-marino: rgba(59, 111, 160, 1);
  --wwwwikipediaorgsea-green: rgba(51, 153, 102, 1);
  --wwwwikipediaorgseagull: rgba(123, 188, 229, 1);
  --wwwwikipediaorgsilver-chalice: rgba(166, 166, 166, 1);
  --wwwwikipediaorgst-tropaz: rgba(42, 98, 161, 1);
  --wwwwikipediaorgstar-dust: rgba(162, 162, 161, 1);
  --wwwwikipediaorgsteel-blue: rgba(77, 138, 192, 1);
  --wwwwikipediaorgwhite: rgba(255, 255, 255, 1);
  --www-wikipedia-org-semantic-button-font-family: "Roboto", Helvetica;
  --www-wikipedia-org-semantic-button-font-weight: 700;
  --www-wikipedia-org-semantic-button-font-size: 14px;
  --www-wikipedia-org-semantic-button-letter-spacing: 0px;
  --www-wikipedia-org-semantic-button-line-height: 14px;
  --www-wikipedia-org-semantic-button-font-style: normal;
  --www-wikipedia-org-semantic-label-font-family: "Roboto", Helvetica;
  --www-wikipedia-org-semantic-label-font-weight: 400;
  --www-wikipedia-org-semantic-label-font-size: 13px;
  --www-wikipedia-org-semantic-label-letter-spacing: 0px;
  --www-wikipedia-org-semantic-label-line-height: 24px;
  --www-wikipedia-org-semantic-label-font-style: normal;
  --www-wikipedia-org-semantic-link-font-family: "Roboto", Helvetica;
  --www-wikipedia-org-semantic-link-font-weight: 400;
  --www-wikipedia-org-semantic-link-font-size: 13.5625px;
  --www-wikipedia-org-semantic-link-letter-spacing: 0px;
  --www-wikipedia-org-semantic-link-line-height: 21px;
  --www-wikipedia-org-semantic-link-font-style: normal;
  --www-wikipedia-org-semantic-small-font-family: "Roboto", Helvetica;
  --www-wikipedia-org-semantic-small-font-weight: 400;
  --www-wikipedia-org-semantic-small-font-size: 13px;
  --www-wikipedia-org-semantic-small-letter-spacing: 0px;
  --www-wikipedia-org-semantic-small-line-height: 19.5px;
  --www-wikipedia-org-semantic-small-font-style: normal;
  --www-wikipedia-org-semantic-strong-font-family: "Roboto", Helvetica;
  --www-wikipedia-org-semantic-strong-font-weight: 700;
  --www-wikipedia-org-semantic-strong-font-size: 16px;
  --www-wikipedia-org-semantic-strong-letter-spacing: 0px;
  --www-wikipedia-org-semantic-strong-line-height: 24px;
  --www-wikipedia-org-semantic-strong-font-style: normal;
  --www-wikipedia-org-roboto-regular-12-9-font-family: "Roboto", Helvetica;
  --www-wikipedia-org-roboto-regular-12-9-font-weight: 400;
  --www-wikipedia-org-roboto-regular-12-9-font-size: 12.8984375px;
  --www-wikipedia-org-roboto-regular-12-9-letter-spacing: 0px;
  --www-wikipedia-org-roboto-regular-12-9-line-height: 19.5px;
  --www-wikipedia-org-roboto-regular-12-9-font-style: normal;
  --www-wikipedia-org-roboto-regular-13-font-family: "Roboto", Helvetica;
  --www-wikipedia-org-roboto-regular-13-font-weight: 400;
  --www-wikipedia-org-roboto-regular-13-font-size: 13px;
  --www-wikipedia-org-roboto-regular-13-letter-spacing: 0px;
  --www-wikipedia-org-roboto-regular-13-line-height: 19.5px;
  --www-wikipedia-org-roboto-regular-13-font-style: normal;
}
